USE [master]
GO
/****** Object:  Database [Tageer]    Script Date: 1/16/2019 3:09:36 PM ******/
CREATE DATABASE [Tageer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tageer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.AHMED\MSSQL\DATA\Tageer.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tageer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.AHMED\MSSQL\DATA\Tageer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tageer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tageer]
GO
USE [Tageer]
GO
/****** Object:  Schema [Ads]    Script Date: 1/16/2019 3:09:37 PM ******/
CREATE SCHEMA [Ads]
GO
/****** Object:  Table [Ads].[AdComment]    Script Date: 1/16/2019 3:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[FKLog_Id] [int] NOT NULL,
	[FKAd_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[AdDirectFieldDetails]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdDirectFieldDetails](
	[AdId] [int] NOT NULL,
	[FKArea_Id] [int] NULL,
	[FKSize_Id] [int] NULL,
	[FKLocation_Id] [int] NULL,
	[FKMatrial_Id] [int] NULL,
	[FKNationality_Id] [int] NULL,
	[FKMark_Id] [int] NULL,
	[FkCountry_Id] [int] NULL,
	[FkProvince_Id] [int] NULL,
 CONSTRAINT [PK_AdDetails] PRIMARY KEY CLUSTERED 
(
	[AdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[AdFavorites]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdFavorites](
	[Id] [nchar](10) NOT NULL,
	[DateTime] [nchar](10) NOT NULL,
	[FKLog_Id] [int] IDENTITY(1,1) NOT NULL,
	[FKAd_Id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[AdGroupsDetails]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdGroupsDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKGroup_Id] [int] NOT NULL,
	[IsCustomValue] [bit] NOT NULL,
	[CustomValue] [nvarchar](50) NULL,
	[FKGroupItem_Id] [int] NULL,
	[FKAd_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[AdIndividualFieldsDetails]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdIndividualFieldsDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](1000) NOT NULL,
	[FkIndividualField_Id] [int] NOT NULL,
	[FKAd_Id] [int] NOT NULL,
 CONSTRAINT [PK_AdInputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[Ads]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[Ads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[FkRentalTimesType_Id] [int] NOT NULL,
	[FKAlbum_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FKLog_Id] [int] NOT NULL,
	[FkCategory_Id] [int] NOT NULL,
	[FkSubCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_Ads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Ads].[AdVisitors]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[AdVisitors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Counter] [bigint] NOT NULL,
	[FKAd_Id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[Categories]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKFile_Id] [int] NOT NULL,
	[FKLogHistory_Id] [int] NOT NULL,
 CONSTRAINT [PK_RentalType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[DirectFields]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[DirectFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DirectFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[Groups]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SectionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[GroupsDisplayTypes]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[GroupsDisplayTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKGroup_Id] [int] NOT NULL,
	[FKInputType_Id] [int] NOT NULL,
	[FKSubCategory_Id] [int] NULL,
	[FkLog_Id] [int] NOT NULL,
	[FKCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_RentalSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[GroupsItems]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[GroupsItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[FKGroup_Id] [int] NOT NULL,
 CONSTRAINT [PK_SectionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[IndividualFields]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[IndividualFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourcesName] [nvarchar](50) NOT NULL,
	[FKInputType_Id] [int] NOT NULL,
 CONSTRAINT [PK_Inputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalDirectFields]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalDirectFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[FkSubCategory_Id] [int] NULL,
	[FkCategory_Id] [int] NOT NULL,
	[FkDirectField_Id] [int] NOT NULL,
	[Fklog_Id] [int] NOT NULL,
 CONSTRAINT [PK_RentalDirectFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalGroupsItems]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalGroupsItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKSubCategory_Id] [int] NULL,
	[FKGroupsItem_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FKCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_RentalItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalIndividualFields]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalIndividualFields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[FKSubCategory_Id] [int] NULL,
	[FkIndividualField_Id] [int] NOT NULL,
	[FKLog_Id] [int] NOT NULL,
	[FKCategory_Id] [int] NOT NULL,
 CONSTRAINT [PK_CategoryInputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalMarks]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalMarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKMark_Id] [int] NOT NULL,
	[FKSubCategory_Id] [int] NULL,
	[FKLogHistory_Id] [int] NOT NULL,
	[FKCategory_Id] [int] NULL,
 CONSTRAINT [PK_RentalMarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalMaterials]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FKMaterial_Id] [int] NOT NULL,
	[FKSubCategory_Id] [int] NULL,
	[FKLogHistory_Id] [int] NOT NULL,
	[FKCategory_Id] [int] NULL,
 CONSTRAINT [PK_RentalMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[RentalTimesTypes]    Script Date: 1/16/2019 3:09:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[RentalTimesTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LeaseTermTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ads].[SubCategories]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ads].[SubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKCategory_Id] [int] NOT NULL,
	[FKImage_Id] [int] NULL,
	[FKLog_Id] [int] NOT NULL,
	[ImagesCount] [int] NOT NULL,
 CONSTRAINT [PK_RentalCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](500) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[FKCountry_Id] [int] NULL,
	[FkProvince_Id] [int] NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumFiles]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkAlbum_Id] [int] NOT NULL,
	[FkFile_Id] [int] NOT NULL,
 CONSTRAINT [PK_AlbumFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppsInformation]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppsInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_AppInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Width] [int] NULL,
	[Length] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_FreeSizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FKFile_Id] [int] NOT NULL,
	[CountryKey] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dates]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BeforeCurrentYear] [int] NOT NULL,
	[AfterCurrentYear] [int] NOT NULL,
	[FKDateTypeId] [int] NOT NULL,
	[IsDefult] [bit] NOT NULL,
 CONSTRAINT [PK_Dates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatesTypes]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatesTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DateTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileUrl] [nvarchar](150) NOT NULL,
	[FKAppInformation_Id] [int] NOT NULL,
	[FkFileType_Id] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileTypes]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FileTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Histories]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[RedirectUrl] [nvarchar](500) NULL,
	[FkState_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FKPage_Id] [int] NOT NULL,
	[FkLog_Id] [int] NULL,
	[TitleEn] [nvarchar](50) NOT NULL,
	[TitleAr] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Histories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryDetails]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColumResourceName] [nvarchar](50) NOT NULL,
	[ColumOldContent] [nvarchar](4000) NULL,
	[ColumNewContent] [nvarchar](4000) NULL,
	[FkHistory_Id] [int] NOT NULL,
	[CoulmIsSingl] [bit] NOT NULL,
	[CoulmIsEn] [bit] NOT NULL,
 CONSTRAINT [PK_HistoryDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputsTypes]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputsTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourcesName] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_InputsType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageTypes]    Script Date: 1/16/2019 3:09:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LanguageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguageUsing]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageUsing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[FKLanguageType_Id] [int] NOT NULL,
	[FKLanguage_Id] [int] NOT NULL,
 CONSTRAINT [PK_LanguageUsing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Longitude] [nvarchar](500) NOT NULL,
	[Latitude] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marks]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKLogHistory_Id] [int] NOT NULL,
 CONSTRAINT [PK_Marks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKLogHistory_Id] [int] NOT NULL,
 CONSTRAINT [PK_Martials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ClassIcon] [nvarchar](50) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Months]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Months](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](20) NOT NULL,
	[FKDateTypeId] [int] NOT NULL,
	[MonthIndex] [int] NOT NULL,
 CONSTRAINT [PK_Months] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Nationalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationsIsRead]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationsIsRead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkHistory_Id] [int] NOT NULL,
	[FKUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_NotificationsIsRead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[IsControlPanel] [bit] NOT NULL,
	[IsFronEnd] [bit] NOT NULL,
	[Url] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesAllow]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesAllow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsAllowNotify] [bit] NOT NULL,
	[IsAllowLog] [bit] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
	[FkPage_Id] [int] NOT NULL,
 CONSTRAINT [PK_PagesAllow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesManagement]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesManagement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContnetAr] [nvarchar](max) NOT NULL,
	[ContentEn] [nvarchar](max) NOT NULL,
	[FKSeo_Id] [int] NULL,
	[FKPrivilege_Id] [int] NOT NULL,
	[FKLogHistory_Id] [int] NOT NULL,
 CONSTRAINT [PK_PagesManagement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesRoles]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[FkPage_Id] [int] NOT NULL,
	[FkRole_Id] [int] NOT NULL,
	[FkPageRoleTypes_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_PagesRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagesRoleTypes]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagesRoleTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PagesRoleTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumbers]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](20) NOT NULL,
	[FKPhone_Id] [int] NOT NULL,
	[FkPhoneType_Id] [int] NOT NULL,
 CONSTRAINT [PK_PhoneNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneTypes]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhoneTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameAr] [nvarchar](50) NOT NULL,
	[NameEn] [nvarchar](50) NOT NULL,
	[FKCountry_Id] [int] NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[IsControlPanel] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seo]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitelAr] [nvarchar](200) NOT NULL,
	[TitelEn] [nvarchar](200) NOT NULL,
	[KeywordAr] [nvarchar](500) NOT NULL,
	[KeywordEn] [nvarchar](500) NOT NULL,
	[DescriptionAr] [nvarchar](500) NOT NULL,
	[DescriptionEn] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Seo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialStatus]    Script Date: 1/16/2019 3:09:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SocialStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResourceName] [nvarchar](50) NOT NULL,
	[CssClassStyle] [nvarchar](50) NOT NULL,
	[CssClassIcon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubMenus]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ClassIcon] [nvarchar](50) NOT NULL,
	[FkMenu_Id] [int] NOT NULL,
	[FKPage_Id] [int] NOT NULL,
 CONSTRAINT [PK_SubMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalSupport]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalSupport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TechnicalSupport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalSupportRead]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalSupportRead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkTechnicalSupport_Id] [int] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_TechnicalSupportRead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MediumName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalId] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[FkImage_Id] [int] NOT NULL,
	[FKAddress_Id] [int] NULL,
	[FkNationality_Id] [int] NULL,
	[FKGender_Id] [int] NULL,
	[FKSocialStatus_Id] [int] NULL,
	[FKJob_Id] [int] NULL,
	[FKLanguage_Id] [int] NULL,
	[FkPhone_Id] [int] NULL,
	[IsAllowSMS] [bit] NULL,
	[IsAllowEmail] [bit] NULL,
	[IsOfferSummary] [bit] NULL,
 CONSTRAINT [PK_UserInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[FkUser_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkUser_Id] [int] NOT NULL,
	[FkRole_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Serial] [nvarchar](300) NOT NULL,
	[FkLog_Id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Ads].[Categories] ON 

INSERT [Ads].[Categories] ([Id], [NameAr], [NameEn], [FKFile_Id], [FKLogHistory_Id]) VALUES (1, N'عقارات', N'Real estate', 127, 329)
INSERT [Ads].[Categories] ([Id], [NameAr], [NameEn], [FKFile_Id], [FKLogHistory_Id]) VALUES (2, N'مركبات', N'Vehicles', 128, 330)
INSERT [Ads].[Categories] ([Id], [NameAr], [NameEn], [FKFile_Id], [FKLogHistory_Id]) VALUES (4, N'لوازم الافراح', N'Wedding Tools', 135, 341)
SET IDENTITY_INSERT [Ads].[Categories] OFF
SET IDENTITY_INSERT [Ads].[DirectFields] ON 

INSERT [Ads].[DirectFields] ([Id], [ResourceName]) VALUES (1, N'Nationality')
INSERT [Ads].[DirectFields] ([Id], [ResourceName]) VALUES (2, N'Area')
INSERT [Ads].[DirectFields] ([Id], [ResourceName]) VALUES (3, N'Mark')
SET IDENTITY_INSERT [Ads].[DirectFields] OFF
SET IDENTITY_INSERT [Ads].[Groups] ON 

INSERT [Ads].[Groups] ([Id], [ResourceName]) VALUES (1, N'Location')
INSERT [Ads].[Groups] ([Id], [ResourceName]) VALUES (2, N'UserCategory')
INSERT [Ads].[Groups] ([Id], [ResourceName]) VALUES (3, N'BasicLuxuries')
SET IDENTITY_INSERT [Ads].[Groups] OFF
SET IDENTITY_INSERT [Ads].[GroupsDisplayTypes] ON 

INSERT [Ads].[GroupsDisplayTypes] ([Id], [FKGroup_Id], [FKInputType_Id], [FKSubCategory_Id], [FkLog_Id], [FKCategory_Id]) VALUES (12, 3, 5, NULL, 590, 7)
INSERT [Ads].[GroupsDisplayTypes] ([Id], [FKGroup_Id], [FKInputType_Id], [FKSubCategory_Id], [FkLog_Id], [FKCategory_Id]) VALUES (13, 9, 5, 7, 603, 2)
INSERT [Ads].[GroupsDisplayTypes] ([Id], [FKGroup_Id], [FKInputType_Id], [FKSubCategory_Id], [FkLog_Id], [FKCategory_Id]) VALUES (14, 4, 4, 7, 604, 2)
SET IDENTITY_INSERT [Ads].[GroupsDisplayTypes] OFF
SET IDENTITY_INSERT [Ads].[GroupsItems] ON 

INSERT [Ads].[GroupsItems] ([Id], [ResourceName], [FKGroup_Id]) VALUES (1, N'InVilla', 1)
INSERT [Ads].[GroupsItems] ([Id], [ResourceName], [FKGroup_Id]) VALUES (2, N'InTower', 1)
INSERT [Ads].[GroupsItems] ([Id], [ResourceName], [FKGroup_Id]) VALUES (3, N'InHouse', 1)
SET IDENTITY_INSERT [Ads].[GroupsItems] OFF
SET IDENTITY_INSERT [Ads].[IndividualFields] ON 

INSERT [Ads].[IndividualFields] ([Id], [ResourcesName], [FKInputType_Id]) VALUES (1, N'RoomsCount', 2)
INSERT [Ads].[IndividualFields] ([Id], [ResourcesName], [FKInputType_Id]) VALUES (2, N'SeatsCount', 2)
INSERT [Ads].[IndividualFields] ([Id], [ResourcesName], [FKInputType_Id]) VALUES (3, N'ToiletsCount', 2)
SET IDENTITY_INSERT [Ads].[IndividualFields] OFF
SET IDENTITY_INSERT [Ads].[RentalDirectFields] ON 

INSERT [Ads].[RentalDirectFields] ([Id], [IsRequired], [FkSubCategory_Id], [FkCategory_Id], [FkDirectField_Id], [Fklog_Id]) VALUES (17, 1, NULL, 7, 1, 573)
INSERT [Ads].[RentalDirectFields] ([Id], [IsRequired], [FkSubCategory_Id], [FkCategory_Id], [FkDirectField_Id], [Fklog_Id]) VALUES (18, 0, NULL, 7, 3, 574)
INSERT [Ads].[RentalDirectFields] ([Id], [IsRequired], [FkSubCategory_Id], [FkCategory_Id], [FkDirectField_Id], [Fklog_Id]) VALUES (19, 0, NULL, 7, 5, 575)
SET IDENTITY_INSERT [Ads].[RentalDirectFields] OFF
SET IDENTITY_INSERT [Ads].[RentalGroupsItems] ON 

INSERT [Ads].[RentalGroupsItems] ([Id], [FKSubCategory_Id], [FKGroupsItem_Id], [FkLog_Id], [FKCategory_Id]) VALUES (57, NULL, 6, 584, 7)
INSERT [Ads].[RentalGroupsItems] ([Id], [FKSubCategory_Id], [FKGroupsItem_Id], [FkLog_Id], [FKCategory_Id]) VALUES (58, NULL, 7, 585, 7)
INSERT [Ads].[RentalGroupsItems] ([Id], [FKSubCategory_Id], [FKGroupsItem_Id], [FkLog_Id], [FKCategory_Id]) VALUES (59, NULL, 11, 586, 7)
SET IDENTITY_INSERT [Ads].[RentalGroupsItems] OFF
SET IDENTITY_INSERT [Ads].[RentalIndividualFields] ON 

INSERT [Ads].[RentalIndividualFields] ([Id], [IsRequired], [FKSubCategory_Id], [FkIndividualField_Id], [FKLog_Id], [FKCategory_Id]) VALUES (52, 1, 9, 20, 566, 7)
INSERT [Ads].[RentalIndividualFields] ([Id], [IsRequired], [FKSubCategory_Id], [FkIndividualField_Id], [FKLog_Id], [FKCategory_Id]) VALUES (54, 0, NULL, 14, 570, 7)
INSERT [Ads].[RentalIndividualFields] ([Id], [IsRequired], [FKSubCategory_Id], [FkIndividualField_Id], [FKLog_Id], [FKCategory_Id]) VALUES (55, 1, NULL, 17, 571, 7)
SET IDENTITY_INSERT [Ads].[RentalIndividualFields] OFF
SET IDENTITY_INSERT [Ads].[RentalMarks] ON 

INSERT [Ads].[RentalMarks] ([Id], [FKMark_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (13, 2, 7, 558, 2)
INSERT [Ads].[RentalMarks] ([Id], [FKMark_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (14, 3, 7, 559, 2)
INSERT [Ads].[RentalMarks] ([Id], [FKMark_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (15, 4, 7, 560, 2)
SET IDENTITY_INSERT [Ads].[RentalMarks] OFF
SET IDENTITY_INSERT [Ads].[RentalMaterials] ON 

INSERT [Ads].[RentalMaterials] ([Id], [FKMaterial_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (7, 5, 9, 555, 7)
INSERT [Ads].[RentalMaterials] ([Id], [FKMaterial_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (8, 7, 9, 556, 7)
INSERT [Ads].[RentalMaterials] ([Id], [FKMaterial_Id], [FKSubCategory_Id], [FKLogHistory_Id], [FKCategory_Id]) VALUES (9, 6, NULL, 557, 7)
SET IDENTITY_INSERT [Ads].[RentalMaterials] OFF
SET IDENTITY_INSERT [Ads].[RentalTimesTypes] ON 

INSERT [Ads].[RentalTimesTypes] ([Id], [ResourceName]) VALUES (1, N'Day')
INSERT [Ads].[RentalTimesTypes] ([Id], [ResourceName]) VALUES (2, N'Hour')
INSERT [Ads].[RentalTimesTypes] ([Id], [ResourceName]) VALUES (3, N'Month')
SET IDENTITY_INSERT [Ads].[RentalTimesTypes] OFF
SET IDENTITY_INSERT [Ads].[SubCategories] ON 

INSERT [Ads].[SubCategories] ([Id], [NameAr], [NameEn], [FKCategory_Id], [FKImage_Id], [FKLog_Id], [ImagesCount]) VALUES (3, N'فيلا', N'Villa', 1, 132, 334, 5)
INSERT [Ads].[SubCategories] ([Id], [NameAr], [NameEn], [FKCategory_Id], [FKImage_Id], [FKLog_Id], [ImagesCount]) VALUES (4, N'عمارة', N'ٍٍSpire', 1, 133, 335, 5)
INSERT [Ads].[SubCategories] ([Id], [NameAr], [NameEn], [FKCategory_Id], [FKImage_Id], [FKLog_Id], [ImagesCount]) VALUES (5, N'ميكب', N'Makeup', 4, 138, 344, 5)
SET IDENTITY_INSERT [Ads].[SubCategories] OFF
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (1, N'28 Street Hmadey new test 00', N'12', 1, 1, N'nm')
INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (2, N's', N'645', 1, 1, N'سيسي')
INSERT [dbo].[Addresses] ([Id], [Street], [PostalCode], [FKCountry_Id], [FkProvince_Id], [City]) VALUES (3, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[AlbumFiles] ON 

INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (1, 1, 1)
INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (11, 4, 12)
INSERT [dbo].[AlbumFiles] ([Id], [FkAlbum_Id], [FkFile_Id]) VALUES (12, 4, 13)
SET IDENTITY_INSERT [dbo].[AlbumFiles] OFF
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (1, NULL)
INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (4, NULL)
INSERT [dbo].[Albums] ([Id], [Notes]) VALUES (5, NULL)
SET IDENTITY_INSERT [dbo].[Albums] OFF
SET IDENTITY_INSERT [dbo].[AppsInformation] ON 

INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (1, N'ControllPanelLink', N'http://localhost:42004', 301)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (2, N'ApiLink', N'http://localhost:50353', 302)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (3, N'AboutUsAr', N'خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله أكثر من 2000 عام في القدم. قام البروفيسور "ريتشارد ماك لينتوك" (Richard McClintock) وهو بروفيسور اللغة اللاتينية في جامعة هامبدن-سيدني في فيرجينيا بالبحث عن أصول كلمة لاتينية غامضة في نص لوريم إيبسوم وهي "consectetur"، وخلال تتبعه لهذه الكلمة في الأدب اللاتيني اكتشف المصدر الغير قابل للشك. فلقد اتضح أن كلمات نص لوريم إيبسوم تأتي من الأقسام 1.10.32 و 1.10.33 من كتاب "حول أقاصي الخير والشر" (de Finibus Bonorum et Malorum) للمفكر شيشيرون (Cicero) والذي كتبه في عام 45 قبل الميلاد. هذا الكتاب هو بمثابة مقالة علمية مطولة في نظرية الأخلاق، وكان له شعبية كبيرة في عصر النهضة. السطر الأول من لوريم إيبسوم "Lorem ipsum dolor sit amet.." يأتي من سطر في القسم 1.20.32 من هذا الكتاب.

', 303)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (4, N'AboutUsEn', N'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

', 304)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (5, N'TermsAr', N'لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.

', 305)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (6, N'TermsEn', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

', 339)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (7, N'PrivecyAr', N'هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.

', 338)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (8, N'PrivecyEn', N'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ''Content here, content here'', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ''lorem ipsum'' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

', 337)
INSERT [dbo].[AppsInformation] ([Id], [ResourceName], [Value], [FkLog_Id]) VALUES (9, N'ApiFiles', N'http://localhost:42003/', 336)
SET IDENTITY_INSERT [dbo].[AppsInformation] OFF
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([Id], [Width], [Length], [Height]) VALUES (1, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [NameAr], [NameEn], [FkLog_Id], [FKFile_Id], [CountryKey]) VALUES (1, N'مصر', N'Egypt', 1, 82, N'20')
INSERT [dbo].[Countries] ([Id], [NameAr], [NameEn], [FkLog_Id], [FKFile_Id], [CountryKey]) VALUES (2, N'الكويت', N'Kwit', 31, 83, N'30')
INSERT [dbo].[Countries] ([Id], [NameAr], [NameEn], [FkLog_Id], [FKFile_Id], [CountryKey]) VALUES (4, N'قطر', N'qutr', 327, 125, N'11')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Dates] ON 

INSERT [dbo].[Dates] ([Id], [BeforeCurrentYear], [AfterCurrentYear], [FKDateTypeId], [IsDefult]) VALUES (4, 20, 21, 1, 1)
SET IDENTITY_INSERT [dbo].[Dates] OFF
SET IDENTITY_INSERT [dbo].[DatesTypes] ON 

INSERT [dbo].[DatesTypes] ([Id], [NameAr], [NameEn]) VALUES (1, N'ميلادى', N'Miladey')
INSERT [dbo].[DatesTypes] ([Id], [NameAr], [NameEn]) VALUES (2, N'هجرى', N'Hegrey')
SET IDENTITY_INSERT [dbo].[DatesTypes] OFF
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (1, N'/Files/Images/Users/Profile/Prifile2.png2001640584.png', 1, 1)
INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (2, N'/Files/Images/Users/Profile/2013-04-20-056.jpg1710883803.jpg', 1, 1)
INSERT [dbo].[Files] ([Id], [FileUrl], [FKAppInformation_Id], [FkFileType_Id]) VALUES (3, N'/Files/Images/Products12.jpg133553739.jpg', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Files] OFF
SET IDENTITY_INSERT [dbo].[FileTypes] ON 

INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (1, N'Image')
INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (2, N'Text')
INSERT [dbo].[FileTypes] ([Id], [ResourceName]) VALUES (3, N'Audio')
SET IDENTITY_INSERT [dbo].[FileTypes] OFF
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [ResourceName]) VALUES (1, N'Male')
INSERT [dbo].[Genders] ([Id], [ResourceName]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Genders] OFF
SET IDENTITY_INSERT [dbo].[Histories] ON 

INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (111, CAST(N'2018-09-16T00:16:26.573' AS DateTime), NULL, 1, 1, 19, 203, N'Test', N'تجربة')
INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (112, CAST(N'2018-09-16T00:16:42.780' AS DateTime), NULL, 2, 1, 19, 1, N'Test', N'تجربة')
INSERT [dbo].[Histories] ([Id], [DateTime], [RedirectUrl], [FkState_Id], [FkUser_Id], [FKPage_Id], [FkLog_Id], [TitleEn], [TitleAr]) VALUES (114, CAST(N'2018-09-16T00:16:53.407' AS DateTime), NULL, 3, 1, 19, NULL, N'Test', N'تجربة')
GO
SET IDENTITY_INSERT [dbo].[Histories] OFF
SET IDENTITY_INSERT [dbo].[HistoryDetails] ON 

INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (219, N'NameAr', NULL, N'sd', 111, 0, 0)
INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (220, N'NameEn', NULL, N'sd', 111, 0, 1)
INSERT [dbo].[HistoryDetails] ([Id], [ColumResourceName], [ColumOldContent], [ColumNewContent], [FkHistory_Id], [CoulmIsSingl], [CoulmIsEn]) VALUES (221, N'NameAr', N'sd', N'مصر', 112, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[HistoryDetails] OFF
SET IDENTITY_INSERT [dbo].[InputsTypes] ON 

INSERT [dbo].[InputsTypes] ([Id], [ResourcesName], [Notes]) VALUES (1, N'Text', NULL)
INSERT [dbo].[InputsTypes] ([Id], [ResourcesName], [Notes]) VALUES (2, N'Number', NULL)
INSERT [dbo].[InputsTypes] ([Id], [ResourcesName], [Notes]) VALUES (3, N'Select', NULL)
SET IDENTITY_INSERT [dbo].[InputsTypes] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (1, N'مطور', N'Developer', 4)
INSERT [dbo].[Jobs] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (4, N'محاسب', N'Account', 35)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (1, N'')
INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (2, NULL)
INSERT [dbo].[Languages] ([Id], [Notes]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[Languages] OFF
SET IDENTITY_INSERT [dbo].[LanguageTypes] ON 

INSERT [dbo].[LanguageTypes] ([Id], [ResourceName], [Code]) VALUES (1, N'Arabic', N'ar')
INSERT [dbo].[LanguageTypes] ([Id], [ResourceName], [Code]) VALUES (2, N'English', N'en')
SET IDENTITY_INSERT [dbo].[LanguageTypes] OFF
SET IDENTITY_INSERT [dbo].[LanguageUsing] ON 

INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (1, 0, 2, 1)
INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (3, 1, 1, 1)
INSERT [dbo].[LanguageUsing] ([Id], [IsDefault], [FKLanguageType_Id], [FKLanguage_Id]) VALUES (4, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[LanguageUsing] OFF
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (1, CAST(N'2018-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (2, CAST(N'2018-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Logs] ([Id], [CreateDateTime]) VALUES (4, CAST(N'2018-10-10T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[Marks] ON 

INSERT [dbo].[Marks] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (2, N'لانسر', N'lancer', 1)
INSERT [dbo].[Marks] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (3, N'مرسيدس', N'Mercedes', 1)
INSERT [dbo].[Marks] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (4, N'تويتا', N'toyota', 1)
SET IDENTITY_INSERT [dbo].[Marks] OFF
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (5, N'بلستر', N'Polyester', 67)
INSERT [dbo].[Materials] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (6, N'حرير', N'Silk', 68)
INSERT [dbo].[Materials] ([Id], [NameAr], [NameEn], [FKLogHistory_Id]) VALUES (7, N'ستان', N'Stan', 69)
SET IDENTITY_INSERT [dbo].[Materials] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (1, 1, N'far fa-hand-point-right', N'Setting')
INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (2, 3, N'far fa-hand-point-right', N'Users')
INSERT [dbo].[Menus] ([Id], [OrderNumber], [ClassIcon], [ResourceName]) VALUES (7, 4, N'far fa-hand-point-right', N'TechnicalSupport')
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Months] ON 

INSERT [dbo].[Months] ([Id], [NameAr], [NameEn], [ShortName], [FKDateTypeId], [MonthIndex]) VALUES (2, N'w', N'w', N'w', 1, 1)
INSERT [dbo].[Months] ([Id], [NameAr], [NameEn], [ShortName], [FKDateTypeId], [MonthIndex]) VALUES (3, N'y', N'u', N'u', 1, 2)
INSERT [dbo].[Months] ([Id], [NameAr], [NameEn], [ShortName], [FKDateTypeId], [MonthIndex]) VALUES (4, N'ew', N'ew', N'we', 1, 3)
SET IDENTITY_INSERT [dbo].[Months] OFF
SET IDENTITY_INSERT [dbo].[Nationalities] ON 

INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (1, N'مصرى', N'Egeiption', 5)
INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (2, N'سعودى', N'Saudi', 96)
INSERT [dbo].[Nationalities] ([Id], [NameAr], [NameEn], [FkLog_Id]) VALUES (3, N'كويتى', N'Kuwaiti', 97)
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
SET IDENTITY_INSERT [dbo].[NotificationsIsRead] ON 

INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (18, 135, 1)
INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (19, 140, 1)
INSERT [dbo].[NotificationsIsRead] ([Id], [FkHistory_Id], [FKUser_Id]) VALUES (20, 139, 1)
SET IDENTITY_INSERT [dbo].[NotificationsIsRead] OFF
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (2, N'Users', 1, 0, N'Users')
INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (3, N'Jobs', 1, 0, N'Jobs')
INSERT [dbo].[Pages] ([Id], [ResourceName], [IsControlPanel], [IsFronEnd], [Url]) VALUES (4, N'Countries', 1, 0, N'Countries')
SET IDENTITY_INSERT [dbo].[Pages] OFF
SET IDENTITY_INSERT [dbo].[PagesAllow] ON 

INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (2, 1, 1, 7, 2)
INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (3, 1, 1, 8, 3)
INSERT [dbo].[PagesAllow] ([Id], [IsAllowNotify], [IsAllowLog], [FkLog_Id], [FkPage_Id]) VALUES (4, 1, 1, 9, 4)
SET IDENTITY_INSERT [dbo].[PagesAllow] OFF
SET IDENTITY_INSERT [dbo].[PagesRoles] ON 

INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (24, 1, 1, 1, 1, 2, 1, 1, 43)
INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (25, 1, 1, 1, 1, 2, 1, 2, 44)
INSERT [dbo].[PagesRoles] ([Id], [IsDisplay], [IsCreate], [IsUpdate], [IsDelete], [FkPage_Id], [FkRole_Id], [FkPageRoleTypes_Id], [FkLog_Id]) VALUES (26, 1, 1, 1, 1, 2, 1, 3, 45)
GO
SET IDENTITY_INSERT [dbo].[PagesRoles] OFF
SET IDENTITY_INSERT [dbo].[PagesRoleTypes] ON 

INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (1, N'Management')
INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (2, N'Notifications')
INSERT [dbo].[PagesRoleTypes] ([Id], [ResourceName]) VALUES (3, N'Logs')
SET IDENTITY_INSERT [dbo].[PagesRoleTypes] OFF
SET IDENTITY_INSERT [dbo].[PhoneNumbers] ON 

INSERT [dbo].[PhoneNumbers] ([Id], [Number], [FKPhone_Id], [FkPhoneType_Id]) VALUES (9, N'01025249400', 1, 1)
INSERT [dbo].[PhoneNumbers] ([Id], [Number], [FKPhone_Id], [FkPhoneType_Id]) VALUES (12, N'01025249401', 1, 1)
SET IDENTITY_INSERT [dbo].[PhoneNumbers] OFF
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (1, NULL)
INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (2, NULL)
INSERT [dbo].[Phones] ([Id], [Notes]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[Phones] OFF
SET IDENTITY_INSERT [dbo].[PhoneTypes] ON 

INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (1, N'Mobile')
INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (2, N'Fax')
INSERT [dbo].[PhoneTypes] ([Id], [ResourceName]) VALUES (3, N'Home')
SET IDENTITY_INSERT [dbo].[PhoneTypes] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (1, N'القاهرة', N'Cairo', 1, 2)
INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (18, N'المنصورة', N'Mansoura -', 1, 29)
INSERT [dbo].[Provinces] ([Id], [NameAr], [NameEn], [FKCountry_Id], [FkLog_Id]) VALUES (19, N'الاسكندرية', N'Alx', 1, 30)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (1, N'Manager', NULL, 1)
INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (2, N'Supervisor', NULL, 1)
INSERT [dbo].[Roles] ([Id], [ResourceName], [Notes], [IsControlPanel]) VALUES (3, N'Client', NULL, 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [Name]) VALUES (1, N'S')
INSERT [dbo].[Sizes] ([Id], [Name]) VALUES (2, N'M')
INSERT [dbo].[Sizes] ([Id], [Name]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
SET IDENTITY_INSERT [dbo].[SocialStatus] ON 

INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (1, N'Single')
INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (2, N'Married')
INSERT [dbo].[SocialStatus] ([Id], [ResourceName]) VALUES (3, N'Widower')
SET IDENTITY_INSERT [dbo].[SocialStatus] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (1, N'Create', N'label-success', N'fa fa-plus')
INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (2, N'Update', N'label-warning', N'fas fa-edit')
INSERT [dbo].[States] ([Id], [ResourceName], [CssClassStyle], [CssClassIcon]) VALUES (3, N'Delete', N'label-danger', N'fas fa-trash-alt')
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[SubMenus] ON 

INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (6, 1, N'fas fa-not-equal', 2, 2)
INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (7, 3, N'fas fa-not-equal', 1, 3)
INSERT [dbo].[SubMenus] ([Id], [OrderNumber], [ClassIcon], [FkMenu_Id], [FKPage_Id]) VALUES (8, 4, N'fas fa-not-equal', 1, 4)
SET IDENTITY_INSERT [dbo].[SubMenus] OFF
SET IDENTITY_INSERT [dbo].[TechnicalSupport] ON 

INSERT [dbo].[TechnicalSupport] ([Id], [UserName], [Email], [Phone], [Message], [CreateDateTime]) VALUES (1, N'ahmed Nageeb', N'Sezer.info@gmail.com', N'01025249400', N'test test ahmed ahmed test test ahmed ahmed aya mohamed ', CAST(N'2018-09-07T22:18:05.423' AS DateTime))
INSERT [dbo].[TechnicalSupport] ([Id], [UserName], [Email], [Phone], [Message], [CreateDateTime]) VALUES (2, N'ahmed Nageeb', N'Sezer.info@gmail.com', N'01025249400', N'test test ahmed ahmed test te


st ahmed ahmed aya mohamed ', CAST(N'2018-09-07T22:51:17.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[TechnicalSupport] OFF
SET IDENTITY_INSERT [dbo].[TechnicalSupportRead] ON 

INSERT [dbo].[TechnicalSupportRead] ([Id], [FkTechnicalSupport_Id], [FkUser_Id]) VALUES (1, 1, 1)
INSERT [dbo].[TechnicalSupportRead] ([Id], [FkTechnicalSupport_Id], [FkUser_Id]) VALUES (2, 2, 1)
SET IDENTITY_INSERT [dbo].[TechnicalSupportRead] OFF
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [IsAllowSMS], [IsAllowEmail], [IsOfferSummary]) VALUES (1, N'Ahmed', N'Nageeb', N'Mahmoud', N'123654879', CAST(N'1997-02-04' AS Date), 1, 1, 1, 1, 1, 4, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [IsAllowSMS], [IsAllowEmail], [IsOfferSummary]) VALUES (2, N'Aya', NULL, N'Nageeb', N'12121212654', NULL, 2, 2, NULL, NULL, NULL, 1, 2, 2, NULL, NULL, NULL)
INSERT [dbo].[UserInformation] ([Id], [FirstName], [MediumName], [LastName], [NationalId], [BirthDate], [FkImage_Id], [FKAddress_Id], [FkNationality_Id], [FKGender_Id], [FKSocialStatus_Id], [FKJob_Id], [FKLanguage_Id], [FkPhone_Id], [IsAllowSMS], [IsAllowEmail], [IsOfferSummary]) VALUES (3, N'xxqq1', NULL, N'qq', NULL, NULL, 27, 3, NULL, NULL, NULL, NULL, 3, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserLogins] ON 

INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (1, CAST(N'2018-08-19T17:54:54.117' AS DateTime), 1, 1)
INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (2, CAST(N'2018-08-19T17:55:11.110' AS DateTime), 1, 1)
INSERT [dbo].[UserLogins] ([Id], [LoginDate], [IsSuccess], [FkUser_Id]) VALUES (3, CAST(N'2018-08-19T17:56:18.620' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[UserLogins] OFF
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (1, 1, 1)
INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (2, 1, 2)
INSERT [dbo].[UserRoles] ([Id], [FkUser_Id], [FkRole_Id]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (1, N'ahmed', N'ahmed@gmail.com', N'123456', 0, CAST(N'2012-12-01T00:00:00.000' AS DateTime), N'ahmed1', 105)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (2, N'AYa', N'sezer.info.0@gmail.com', N'123456', 0, CAST(N'2018-08-26T23:41:08.133' AS DateTime), N'69680b54-2c75-4235-a297-5bd326eb2b30', 106)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [IsBlocked], [CreateDate], [Serial], [FkLog_Id]) VALUES (3, N'ahmedw', N'ahmednageeb@gmail.com', N'123456', 0, CAST(N'2018-08-30T16:57:19.937' AS DateTime), N'dfc43fcf-a4e8-4a25-b97a-d1bf76d46897', 124)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [Email]    Script Date: 1/16/2019 3:09:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Serial]    Script Date: 1/16/2019 3:09:41 PM ******/
CREATE NONCLUSTERED INDEX [Serial] ON [dbo].[Users]
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserName]    Script Date: 1/16/2019 3:09:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Ads].[RentalIndividualFields] ADD  CONSTRAINT [DF_RentalCategoryInputs_FKRentalCategory_Id]  DEFAULT ((0)) FOR [FKSubCategory_Id]
GO
ALTER TABLE [Ads].[AdComment]  WITH CHECK ADD  CONSTRAINT [FK_AdComment_LogHistories] FOREIGN KEY([FKLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[AdComment] CHECK CONSTRAINT [FK_AdComment_LogHistories]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdBasicDetails_Materials] FOREIGN KEY([FKMatrial_Id])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdBasicDetails_Materials]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdBasicDetails_Nationalities] FOREIGN KEY([FKNationality_Id])
REFERENCES [dbo].[Nationalities] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdBasicDetails_Nationalities]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdBasicDetails_Sizes] FOREIGN KEY([FKSize_Id])
REFERENCES [dbo].[Sizes] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdBasicDetails_Sizes]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDetails_Locations] FOREIGN KEY([FKLocation_Id])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDetails_Locations]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDirectFieldDetails_Ads] FOREIGN KEY([AdId])
REFERENCES [Ads].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDirectFieldDetails_Ads]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDirectFieldDetails_Areas] FOREIGN KEY([FKArea_Id])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDirectFieldDetails_Areas]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDirectFieldDetails_Countries] FOREIGN KEY([FkCountry_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDirectFieldDetails_Countries]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDirectFieldDetails_Marks] FOREIGN KEY([FKMark_Id])
REFERENCES [dbo].[Marks] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDirectFieldDetails_Marks]
GO
ALTER TABLE [Ads].[AdDirectFieldDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdDirectFieldDetails_Provinces] FOREIGN KEY([FkProvince_Id])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [Ads].[AdDirectFieldDetails] CHECK CONSTRAINT [FK_AdDirectFieldDetails_Provinces]
GO
ALTER TABLE [Ads].[AdGroupsDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdGroupsDetails_Ads] FOREIGN KEY([FKAd_Id])
REFERENCES [Ads].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[AdGroupsDetails] CHECK CONSTRAINT [FK_AdGroupsDetails_Ads]
GO
ALTER TABLE [Ads].[AdGroupsDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdGroupsDetails_Groups] FOREIGN KEY([FKGroup_Id])
REFERENCES [Ads].[Groups] ([Id])
GO
ALTER TABLE [Ads].[AdGroupsDetails] CHECK CONSTRAINT [FK_AdGroupsDetails_Groups]
GO
ALTER TABLE [Ads].[AdGroupsDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdGroupsDetails_GroupsItems] FOREIGN KEY([FKGroupItem_Id])
REFERENCES [Ads].[GroupsItems] ([Id])
GO
ALTER TABLE [Ads].[AdGroupsDetails] CHECK CONSTRAINT [FK_AdGroupsDetails_GroupsItems]
GO
ALTER TABLE [Ads].[AdIndividualFieldsDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdIndividualFieldsDetails_Ads] FOREIGN KEY([FKAd_Id])
REFERENCES [Ads].[Ads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[AdIndividualFieldsDetails] CHECK CONSTRAINT [FK_AdIndividualFieldsDetails_Ads]
GO
ALTER TABLE [Ads].[AdIndividualFieldsDetails]  WITH CHECK ADD  CONSTRAINT [FK_AdIndividualFieldsDetails_IndividualFields] FOREIGN KEY([FkIndividualField_Id])
REFERENCES [Ads].[IndividualFields] ([Id])
GO
ALTER TABLE [Ads].[AdIndividualFieldsDetails] CHECK CONSTRAINT [FK_AdIndividualFieldsDetails_IndividualFields]
GO
ALTER TABLE [Ads].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Categories] FOREIGN KEY([FkCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[Ads] CHECK CONSTRAINT [FK_Ads_Categories]
GO
ALTER TABLE [Ads].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Logs] FOREIGN KEY([FKLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[Ads] CHECK CONSTRAINT [FK_Ads_Logs]
GO
ALTER TABLE [Ads].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_RentalTimesTypes] FOREIGN KEY([FkRentalTimesType_Id])
REFERENCES [Ads].[RentalTimesTypes] ([Id])
GO
ALTER TABLE [Ads].[Ads] CHECK CONSTRAINT [FK_Ads_RentalTimesTypes]
GO
ALTER TABLE [Ads].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_SubCategories] FOREIGN KEY([FkSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[Ads] CHECK CONSTRAINT [FK_Ads_SubCategories]
GO
ALTER TABLE [Ads].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [Ads].[Ads] CHECK CONSTRAINT [FK_Ads_Users]
GO
ALTER TABLE [Ads].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategories_RentalCategories] FOREIGN KEY([Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[Categories] CHECK CONSTRAINT [FK_RentalCategories_RentalCategories]
GO
ALTER TABLE [Ads].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_RentalTypes_Files] FOREIGN KEY([FKFile_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [Ads].[Categories] CHECK CONSTRAINT [FK_RentalTypes_Files]
GO
ALTER TABLE [Ads].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_RentalTypes_LogHistories] FOREIGN KEY([FKLogHistory_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[Categories] CHECK CONSTRAINT [FK_RentalTypes_LogHistories]
GO
ALTER TABLE [Ads].[GroupsDisplayTypes]  WITH CHECK ADD  CONSTRAINT [FK_GroupFieldsDisplayTypes_Groups] FOREIGN KEY([FKGroup_Id])
REFERENCES [Ads].[Groups] ([Id])
GO
ALTER TABLE [Ads].[GroupsDisplayTypes] CHECK CONSTRAINT [FK_GroupFieldsDisplayTypes_Groups]
GO
ALTER TABLE [Ads].[GroupsDisplayTypes]  WITH CHECK ADD  CONSTRAINT [FK_GroupsFieldsDisplayTypes_Categories] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[GroupsDisplayTypes] CHECK CONSTRAINT [FK_GroupsFieldsDisplayTypes_Categories]
GO
ALTER TABLE [Ads].[GroupsDisplayTypes]  WITH CHECK ADD  CONSTRAINT [FK_GroupsFieldsDisplayTypes_InputsTypes] FOREIGN KEY([FKInputType_Id])
REFERENCES [dbo].[InputsTypes] ([Id])
GO
ALTER TABLE [Ads].[GroupsDisplayTypes] CHECK CONSTRAINT [FK_GroupsFieldsDisplayTypes_InputsTypes]
GO
ALTER TABLE [Ads].[GroupsDisplayTypes]  WITH CHECK ADD  CONSTRAINT [FK_GroupsFieldsDisplayTypes_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[GroupsDisplayTypes] CHECK CONSTRAINT [FK_GroupsFieldsDisplayTypes_Logs]
GO
ALTER TABLE [Ads].[GroupsDisplayTypes]  WITH CHECK ADD  CONSTRAINT [FK_GroupsFieldsDisplayTypes_SubCategories] FOREIGN KEY([FKSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[GroupsDisplayTypes] CHECK CONSTRAINT [FK_GroupsFieldsDisplayTypes_SubCategories]
GO
ALTER TABLE [Ads].[GroupsItems]  WITH CHECK ADD  CONSTRAINT [FK_GroupFields_Groups] FOREIGN KEY([FKGroup_Id])
REFERENCES [Ads].[Groups] ([Id])
GO
ALTER TABLE [Ads].[GroupsItems] CHECK CONSTRAINT [FK_GroupFields_Groups]
GO
ALTER TABLE [Ads].[IndividualFields]  WITH CHECK ADD  CONSTRAINT [FK_Inputs_InputsTypes] FOREIGN KEY([FKInputType_Id])
REFERENCES [dbo].[InputsTypes] ([Id])
GO
ALTER TABLE [Ads].[IndividualFields] CHECK CONSTRAINT [FK_Inputs_InputsTypes]
GO
ALTER TABLE [Ads].[RentalDirectFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalDirectFields_Categories] FOREIGN KEY([FkCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[RentalDirectFields] CHECK CONSTRAINT [FK_RentalDirectFields_Categories]
GO
ALTER TABLE [Ads].[RentalDirectFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalDirectFields_DirectFields] FOREIGN KEY([FkDirectField_Id])
REFERENCES [Ads].[DirectFields] ([Id])
GO
ALTER TABLE [Ads].[RentalDirectFields] CHECK CONSTRAINT [FK_RentalDirectFields_DirectFields]
GO
ALTER TABLE [Ads].[RentalDirectFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalDirectFields_Logs] FOREIGN KEY([Fklog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[RentalDirectFields] CHECK CONSTRAINT [FK_RentalDirectFields_Logs]
GO
ALTER TABLE [Ads].[RentalDirectFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalDirectFields_SubCategories] FOREIGN KEY([FkSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[RentalDirectFields] CHECK CONSTRAINT [FK_RentalDirectFields_SubCategories]
GO
ALTER TABLE [Ads].[RentalGroupsItems]  WITH CHECK ADD  CONSTRAINT [FK_AdsGroupsItems_Categories] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[RentalGroupsItems] CHECK CONSTRAINT [FK_AdsGroupsItems_Categories]
GO
ALTER TABLE [Ads].[RentalGroupsItems]  WITH CHECK ADD  CONSTRAINT [FK_AdsGroupsItems_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[RentalGroupsItems] CHECK CONSTRAINT [FK_AdsGroupsItems_Logs]
GO
ALTER TABLE [Ads].[RentalGroupsItems]  WITH CHECK ADD  CONSTRAINT [FK_AdsGroupsItems_SubCategories] FOREIGN KEY([FKSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[RentalGroupsItems] CHECK CONSTRAINT [FK_AdsGroupsItems_SubCategories]
GO
ALTER TABLE [Ads].[RentalGroupsItems]  WITH CHECK ADD  CONSTRAINT [FK_RentalGroupFields_GroupFields] FOREIGN KEY([FKGroupsItem_Id])
REFERENCES [Ads].[GroupsItems] ([Id])
GO
ALTER TABLE [Ads].[RentalGroupsItems] CHECK CONSTRAINT [FK_RentalGroupFields_GroupFields]
GO
ALTER TABLE [Ads].[RentalIndividualFields]  WITH CHECK ADD  CONSTRAINT [FK_CategoryInputs_RentalCategories] FOREIGN KEY([FKSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[RentalIndividualFields] CHECK CONSTRAINT [FK_CategoryInputs_RentalCategories]
GO
ALTER TABLE [Ads].[RentalIndividualFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryInputs_LogHistories] FOREIGN KEY([FKLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[RentalIndividualFields] CHECK CONSTRAINT [FK_RentalCategoryInputs_LogHistories]
GO
ALTER TABLE [Ads].[RentalIndividualFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryInputs_RentalTypes] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[RentalIndividualFields] CHECK CONSTRAINT [FK_RentalCategoryInputs_RentalTypes]
GO
ALTER TABLE [Ads].[RentalIndividualFields]  WITH CHECK ADD  CONSTRAINT [FK_RentalInputs_AdsInputs] FOREIGN KEY([FkIndividualField_Id])
REFERENCES [Ads].[IndividualFields] ([Id])
GO
ALTER TABLE [Ads].[RentalIndividualFields] CHECK CONSTRAINT [FK_RentalInputs_AdsInputs]
GO
ALTER TABLE [Ads].[RentalMarks]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryMarks_LogHistories] FOREIGN KEY([FKLogHistory_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[RentalMarks] CHECK CONSTRAINT [FK_RentalCategoryMarks_LogHistories]
GO
ALTER TABLE [Ads].[RentalMarks]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryMarks_RentalTypes] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[RentalMarks] CHECK CONSTRAINT [FK_RentalCategoryMarks_RentalTypes]
GO
ALTER TABLE [Ads].[RentalMarks]  WITH CHECK ADD  CONSTRAINT [FK_RentalMarks_Marks] FOREIGN KEY([FKMark_Id])
REFERENCES [dbo].[Marks] ([Id])
GO
ALTER TABLE [Ads].[RentalMarks] CHECK CONSTRAINT [FK_RentalMarks_Marks]
GO
ALTER TABLE [Ads].[RentalMarks]  WITH CHECK ADD  CONSTRAINT [FK_RentalMarks_RentalCategories] FOREIGN KEY([FKSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[RentalMarks] CHECK CONSTRAINT [FK_RentalMarks_RentalCategories]
GO
ALTER TABLE [Ads].[RentalMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryMaterial_LogHistories] FOREIGN KEY([FKLogHistory_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[RentalMaterials] CHECK CONSTRAINT [FK_RentalCategoryMaterial_LogHistories]
GO
ALTER TABLE [Ads].[RentalMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategoryMaterial_RentalTypes] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Ads].[RentalMaterials] CHECK CONSTRAINT [FK_RentalCategoryMaterial_RentalTypes]
GO
ALTER TABLE [Ads].[RentalMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RentalMaterial_RentalCategories] FOREIGN KEY([FKSubCategory_Id])
REFERENCES [Ads].[SubCategories] ([Id])
GO
ALTER TABLE [Ads].[RentalMaterials] CHECK CONSTRAINT [FK_RentalMaterial_RentalCategories]
GO
ALTER TABLE [Ads].[RentalMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RentalMaterials_Materials] FOREIGN KEY([FKMaterial_Id])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [Ads].[RentalMaterials] CHECK CONSTRAINT [FK_RentalMaterials_Materials]
GO
ALTER TABLE [Ads].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategories_Files] FOREIGN KEY([FKImage_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [Ads].[SubCategories] CHECK CONSTRAINT [FK_RentalCategories_Files]
GO
ALTER TABLE [Ads].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategories_LogHistories] FOREIGN KEY([FKLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [Ads].[SubCategories] CHECK CONSTRAINT [FK_RentalCategories_LogHistories]
GO
ALTER TABLE [Ads].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_RentalCategories_RentalType] FOREIGN KEY([FKCategory_Id])
REFERENCES [Ads].[Categories] ([Id])
GO
ALTER TABLE [Ads].[SubCategories] CHECK CONSTRAINT [FK_RentalCategories_RentalType]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries] FOREIGN KEY([FKCountry_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Provinces] FOREIGN KEY([FkProvince_Id])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Provinces]
GO
ALTER TABLE [dbo].[AlbumFiles]  WITH CHECK ADD  CONSTRAINT [FK_AlbumFiles_Albums] FOREIGN KEY([FkAlbum_Id])
REFERENCES [dbo].[Albums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumFiles] CHECK CONSTRAINT [FK_AlbumFiles_Albums]
GO
ALTER TABLE [dbo].[AlbumFiles]  WITH CHECK ADD  CONSTRAINT [FK_AlbumFiles_Files] FOREIGN KEY([FkFile_Id])
REFERENCES [dbo].[Files] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlbumFiles] CHECK CONSTRAINT [FK_AlbumFiles_Files]
GO
ALTER TABLE [dbo].[AppsInformation]  WITH CHECK ADD  CONSTRAINT [FK_AppsInformation_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[AppsInformation] CHECK CONSTRAINT [FK_AppsInformation_Logs]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Files] FOREIGN KEY([FKFile_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Files]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [FK_Countries_Logs]
GO
ALTER TABLE [dbo].[Dates]  WITH CHECK ADD  CONSTRAINT [FK_Date_DateType] FOREIGN KEY([FKDateTypeId])
REFERENCES [dbo].[DatesTypes] ([Id])
GO
ALTER TABLE [dbo].[Dates] CHECK CONSTRAINT [FK_Date_DateType]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_FileTypes] FOREIGN KEY([FkFileType_Id])
REFERENCES [dbo].[FileTypes] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_FileTypes]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Images_AppInformation] FOREIGN KEY([FKAppInformation_Id])
REFERENCES [dbo].[AppsInformation] ([Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Images_AppInformation]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Logs]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Pages] FOREIGN KEY([FKPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Pages]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_States] FOREIGN KEY([FkState_Id])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_States]
GO
ALTER TABLE [dbo].[Histories]  WITH CHECK ADD  CONSTRAINT [FK_Histories_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Histories] CHECK CONSTRAINT [FK_Histories_Users]
GO
ALTER TABLE [dbo].[HistoryDetails]  WITH CHECK ADD  CONSTRAINT [FK_HistoryDetails_Histories] FOREIGN KEY([FkHistory_Id])
REFERENCES [dbo].[Histories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryDetails] CHECK CONSTRAINT [FK_HistoryDetails_Histories]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Logs]
GO
ALTER TABLE [dbo].[LanguageUsing]  WITH CHECK ADD  CONSTRAINT [FK_LanguageUsing_Languages] FOREIGN KEY([FKLanguage_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[LanguageUsing] CHECK CONSTRAINT [FK_LanguageUsing_Languages]
GO
ALTER TABLE [dbo].[LanguageUsing]  WITH CHECK ADD  CONSTRAINT [FK_LanguageUsing_LanguageTypes] FOREIGN KEY([FKLanguageType_Id])
REFERENCES [dbo].[LanguageTypes] ([Id])
GO
ALTER TABLE [dbo].[LanguageUsing] CHECK CONSTRAINT [FK_LanguageUsing_LanguageTypes]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK_Marks_LogHistories] FOREIGN KEY([FKLogHistory_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK_Marks_LogHistories]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Material _LogHistories] FOREIGN KEY([FKLogHistory_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Material _LogHistories]
GO
ALTER TABLE [dbo].[Months]  WITH CHECK ADD  CONSTRAINT [FK_Month_DateType] FOREIGN KEY([FKDateTypeId])
REFERENCES [dbo].[DatesTypes] ([Id])
GO
ALTER TABLE [dbo].[Months] CHECK CONSTRAINT [FK_Month_DateType]
GO
ALTER TABLE [dbo].[Nationalities]  WITH CHECK ADD  CONSTRAINT [FK_Nationalities_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nationalities] CHECK CONSTRAINT [FK_Nationalities_Logs]
GO
ALTER TABLE [dbo].[NotificationsIsRead]  WITH CHECK ADD  CONSTRAINT [FK_NotificationsIsRead_Histories] FOREIGN KEY([FkHistory_Id])
REFERENCES [dbo].[Histories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NotificationsIsRead] CHECK CONSTRAINT [FK_NotificationsIsRead_Histories]
GO
ALTER TABLE [dbo].[NotificationsIsRead]  WITH CHECK ADD  CONSTRAINT [FK_NotificationsIsRead_Users] FOREIGN KEY([FKUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NotificationsIsRead] CHECK CONSTRAINT [FK_NotificationsIsRead_Users]
GO
ALTER TABLE [dbo].[PagesAllow]  WITH CHECK ADD  CONSTRAINT [FK_PagesAllow_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[PagesAllow] CHECK CONSTRAINT [FK_PagesAllow_Logs]
GO
ALTER TABLE [dbo].[PagesAllow]  WITH CHECK ADD  CONSTRAINT [FK_PagesAllow_Pages] FOREIGN KEY([FkPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[PagesAllow] CHECK CONSTRAINT [FK_PagesAllow_Pages]
GO
ALTER TABLE [dbo].[PagesManagement]  WITH CHECK ADD  CONSTRAINT [FK_PagesManagement_PagesManagement] FOREIGN KEY([FKPrivilege_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[PagesManagement] CHECK CONSTRAINT [FK_PagesManagement_PagesManagement]
GO
ALTER TABLE [dbo].[PagesManagement]  WITH CHECK ADD  CONSTRAINT [FK_PagesManagement_Seo] FOREIGN KEY([FKSeo_Id])
REFERENCES [dbo].[Seo] ([Id])
GO
ALTER TABLE [dbo].[PagesManagement] CHECK CONSTRAINT [FK_PagesManagement_Seo]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Logs]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Pages] FOREIGN KEY([FkPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Pages]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_PagesRoles] FOREIGN KEY([Id])
REFERENCES [dbo].[PagesRoles] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_PagesRoles]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_PagesRoleTypes] FOREIGN KEY([FkPageRoleTypes_Id])
REFERENCES [dbo].[PagesRoleTypes] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_PagesRoleTypes]
GO
ALTER TABLE [dbo].[PagesRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesRoles_Roles] FOREIGN KEY([FkRole_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[PagesRoles] CHECK CONSTRAINT [FK_PagesRoles_Roles]
GO
ALTER TABLE [dbo].[PhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNumbers_Phones] FOREIGN KEY([FKPhone_Id])
REFERENCES [dbo].[Phones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhoneNumbers] CHECK CONSTRAINT [FK_PhoneNumbers_Phones]
GO
ALTER TABLE [dbo].[PhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNumbers_PhoneTypes] FOREIGN KEY([FkPhoneType_Id])
REFERENCES [dbo].[PhoneTypes] ([Id])
GO
ALTER TABLE [dbo].[PhoneNumbers] CHECK CONSTRAINT [FK_PhoneNumbers_PhoneTypes]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([FKCountry_Id])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Cities_Logs]
GO
ALTER TABLE [dbo].[SubMenus]  WITH CHECK ADD  CONSTRAINT [FK_SubMenu_Menu] FOREIGN KEY([FkMenu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[SubMenus] CHECK CONSTRAINT [FK_SubMenu_Menu]
GO
ALTER TABLE [dbo].[SubMenus]  WITH CHECK ADD  CONSTRAINT [FK_SubMenu_Pages] FOREIGN KEY([FKPage_Id])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[SubMenus] CHECK CONSTRAINT [FK_SubMenu_Pages]
GO
ALTER TABLE [dbo].[TechnicalSupportRead]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalSupportRead_TechnicalSupport] FOREIGN KEY([FkTechnicalSupport_Id])
REFERENCES [dbo].[TechnicalSupport] ([Id])
GO
ALTER TABLE [dbo].[TechnicalSupportRead] CHECK CONSTRAINT [FK_TechnicalSupportRead_TechnicalSupport]
GO
ALTER TABLE [dbo].[TechnicalSupportRead]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalSupportRead_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TechnicalSupportRead] CHECK CONSTRAINT [FK_TechnicalSupportRead_Users]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Addresses] FOREIGN KEY([FKAddress_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Addresses]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Genders] FOREIGN KEY([FKGender_Id])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Genders]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Images] FOREIGN KEY([FkImage_Id])
REFERENCES [dbo].[Files] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Images]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Jobs] FOREIGN KEY([FKJob_Id])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Jobs]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Languages] FOREIGN KEY([FKLanguage_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Languages]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Nationalities] FOREIGN KEY([FkNationality_Id])
REFERENCES [dbo].[Nationalities] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Nationalities]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Phones] FOREIGN KEY([FkPhone_Id])
REFERENCES [dbo].[Phones] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Phones]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_SocialStatuses] FOREIGN KEY([FKSocialStatus_Id])
REFERENCES [dbo].[SocialStatus] ([Id])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_SocialStatuses]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Users]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([FkRole_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([FkUser_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Logs] FOREIGN KEY([FkLog_Id])
REFERENCES [dbo].[Logs] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Logs]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
/****** Object:  StoredProcedure [dbo].[InsertLog]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[InsertLog]
as 
begin 
insert Logs(CreateDateTime)values (GETDATE())
return scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[InsertPage]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertPage] 
@ResourceName nvarchar(50),
@IsControlPanel bit ,
@IsFronEnd bit
as 
begin 
insert Pages(ResourceName,Url,IsControlPanel,IsFronEnd)values (@ResourceName,@ResourceName,@IsControlPanel,@IsFronEnd)
return scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[InsertPageRles]    Script Date: 1/16/2019 3:09:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[InsertPageRles] 
@FkPage_Id int,
@FkPageRoleTypes_Id int ,
@FkRole_Id int,
@FkLog_Id int
as 
begin 
insert PagesRoles(FkPage_Id,FkPageRoleTypes_Id,FkRole_Id,FkLog_Id,IsCreate,IsDelete,IsDisplay,IsUpdate)values (@FkPage_Id,@FkPageRoleTypes_Id,@FkRole_Id,@FkLog_Id,1,1,1,1)
return scope_identity();
end
GO
USE [master]
GO
